*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
  @include respond(tab-land){
    font-size: 56.25%; // 1rem = 9px now, 16px/9px = 56.25%
  }
  @include respond(tab-port){
    font-size: 50%; // 1rem = 8px now, 16px/8px = 50%
  }
  @include respond(big-desktop){
    font-size: 75%; // 1rem = 12px
  }
}

body{
  box-sizing: border-box;
  padding: 3rem;
  @include respond(tab-port) {
    padding: 0;
  }
}